[submodule "foundry/lib/forge-std"]
	path = foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	ignore = dirty
[submodule "foundry/lib/openzeppelin-contracts"]
	path = foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "web"]
	path = web
	url = git@github.com:greekfi/web.git
[submodule "foundry/lib/solidity-bytes-utils"]
	path = foundry/lib/solidity-bytes-utils
	url = https://github.com/gnsps/solidity-bytes-utils
